---
---

// Headers
$header-heading-color: #000000;
$header-bg-color: #FCE477;
$header-bg-color-secondary: #FCE477;

// Text
$section-headings-color: #000000;
$body-text-color: #000000;
$body-link-color: #000000;
$blockquote-text-color: #000000;

@import "{{ site.theme }}";
